.featured-section {
  margin: 40px auto;
  padding: 0 20px;
  text-align: center;
  }

.section-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 20px;
 
}

.see-more {
  margin-top: 20px;
  padding: 1rem 2rem;
}